.contentimg{
    /* background-image: url(./Pics/_DSC1137.JPG); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 600px;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px 2px rgb(97, 97, 97); */
    /* font-family: Roboto; */
    line-height: 15px;
}
.contenttext{
    text-align: center;
    /* position: relative;
    top: 80px; */
}
.contenttextt{
    text-align: start;
    margin-left: 20px;
    /* position: relative;
    top: 310px; */
    font-weight: bold;
}
.contimg{
    background-image: url(./Pics/IMG-20240313-WA0004.jpg);
}
.morebtn{
    width: 170px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    font-weight: bold;
    
}
.livebtn{
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    color: white;
    
}
.subtitle{
    font-weight: bold;
}
span{
    color: red;
}
/* .contentmain{
    position: relative;
    top: -20px;
} */
@media screen and (max-width:769px){
    /* .contentimg{
        background-image: url(./Pics/_DSC1039.JPG);
        text-shadow: 2px 2px 2px rgb(61, 58, 58);
    } */
    .contimg{
        background-image: url(./Pics/IMG-20240313-WA0004.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 550px;
    }
    .morebtn{
        margin: auto;
        width: 120px;
        height: 40px;
    }
    .threepics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .threepicschild{
        width: 200px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .childone{
        background-image: url(./Pics/_DSC1137.JPG);
    }
    .childtwo{
        background-image: url(./Pics//_DSC9316.JPG);
    }
    .childthree{
        background-image: url(./Pics/_DSC9343.JPG);
    }
}